@use '@site/src/styles/common/media.scss' as *;
.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 1.2rem;
}

.article {
  width: 100%;
  height: auto;
}

@include md {
  .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include xl {
  .container {
    gap: 1.6rem;
  }
}
