@use '@site/src/styles/common/media' as *;

.docMainContainer {
  display: flex;
  width: 100%;
}

.docItemWrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.6rem;
}

@media (min-width: 997px) {
  .docMainContainer {
    flex-grow: 1;
    max-width: calc(100% - var(--doc-sidebar-width));
  }

  .docMainContainerEnhanced {
    max-width: calc(100% - var(--doc-sidebar-hidden-width));
  }

  .docItemWrapper {
    padding: 1.6rem 2.4rem;
  }
}

@media (min-width: 1281px) {
  .docItemWrapper {
    padding: 2.4rem 4rem;
  }
}
