$background: #121614;
$secondary: #242926;
$accent: #313532;
$muted-background: #71717a;
$gradient: linear-gradient(90deg, #f6f655 0%, #5eed87 100%);
$radial-05: radial-gradient(119.09% 136.65% at 2.81% 0%, rgba(228, 228, 231, 0.05) 0%, rgba(115, 115, 115, 0.05) 100%);
